@model DashStore.ViewModels.HomeViewModel
<form method="get" >

@foreach(var category in Model.Categories)
{
    @* <p>@category.Id</p> *@
    <button asp-controller="category" asp-action="index" asp-route-id="@category.Id" class="ShowCategories">@category.Name</button>
}
</form>



@if(Model.Products != null)
{
    <form>

    <div class="row">

    @foreach(var Product in Model.Products)
    {

        <div class="card m-2" style="width: 18rem;">
            <img src="@Product.ImageUrl" class="card-img-top" alt="Product Image">
            @* <svg aria-label="Placeholder: Image cap" class="bd-placeholder-img card-img-top" height="180" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image Here</text></svg> *@
            <div class="card-body">
                <h5 class="card-title">@Product.Title</h5>
                <p class="card-text">@Product.Description</p>

                <h6 class="card-subtitle mb-2 text-body-secondary">@Product.Category.Name</h6>
                @* <a href="#" class="btn btn-primary">$ @Product.Price</a> *@
                <button class="btn btn-primary BuyNow" asp-controller="Product"
                        asp-action="Details"
                        asp-route-id="@Product.Id" id="@Product.Id">
                    Buy Now
                </button>
            </div>
        </div>
    }
    </div>
    </form>
}



@* @section Scripts {
    <script>
        $(document).ready(function () {
            // Your jQuery code goes here
                $('.ShowCategories').click(function () {
                    var btn = $(this)
                    var id = btn.attr("id")
                    console.log(id)
                   $.ajax({
                        url: `/category/${id}`,
                        type: 'Post',
                        data: {
                            id: id,

                        },
                        success: function (response) {

                            // alert("Success: " + response.message);
                            console.log(response);
                        },
                        error: function (xhr, status, error) {

                            console.error("Error occurred: " + error);
                        }
                    });


            });
        });
    </script>
} *@