@model List<CartItem>
<h1> Cart</h1>

<form >
<div class="row">

@foreach(var item in Model)
{
    <div class="card m-2" style="width: 18rem;">
        <img src="@item.ImageUrl" class="card-img-top" alt="Product Image">
        @* <svg aria-label="Placeholder: Image cap" class="bd-placeholder-img card-img-top" height="180" preserveAspectRatio="xMidYMid slice" role="img" width="100%" xmlns="http://www.w3.org/2000/svg"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image Here</text></svg> *@
        <div class="card-body">
            <h5 class="card-title">@item.ProductName</h5>
            <p class="card-text"> $ @item.Price</p>

                <h6 class="card-subtitle mb-2 text-body-secondary ">Count - <span class="count"> @item.Count</span></h6>
             <a href="#" id="@item.ProductId" class="btn btn-primary Remove"> Remove</a> 
            
        </div>
    </div>
}

</div>
    </form>



<div>

</div>
@if(@Model != null)
{
<div> 


<button class="btn btn-dark">Checkout</button>
    </div>

}
else
{
    <div>


        <button class="btn btn-dark">Add Items</button>
    </div>
}


@section Scripts {
    <script>
        $(document).ready(function () {
            // Your jQuery code goes here
                $('.Remove').click(function () {
                    var btn = $(this)
                    var id = btn.attr("id")
                    console.log(id)
                   $.ajax({
                        url: `/Cart/RemoveFromCart/${id}`,
                        type: 'Post',
                        data: {
                            id: id,

                        },
                        success: function (response) {
                            console.log(response)
                            if(response.removeFromCartUi){
                                        btn.closest('.card').fadeOut(300, function() {
            $(this).remove();
        });
                            }
                            // alert("Success: " + response.message);
                            console.log(response);
                            var card =  btn.closest('.card');
                            card.find(".count").html(response.count)
                            $("#Item-Count").html(response.count)
                        },
                        error: function (xhr, status, error) {

                            console.error("Error occurred: " + error);
                        }
                    });


            });
        });
    </script>
}