@model DashStore.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";

}
<div class="text-center">

    <main class="container my-5">
        <div class="text-center mb-5">
            <h1 class="fw-bold">Premium Electronics</h1>
            <p class="text-muted">Browse our collection of 50+ unique products.</p>
        </div>

        <h5>@ViewBag.Name</h5>

        <h5 class="text-center  display-6">All Products</h5>
        <div class=" d-flex " id="All">


            <div class="carousel-wrapper">
                <!-- Navigation -->
                <button class="nav-btn prev-btn" id="prevBtn"><i class="bi bi-chevron-left"></i></button>
                <button class="nav-btn next-btn" id="nextBtn"><i class="bi bi-chevron-right"></i></button>

                <!-- Carousel Content -->
                <div class="product-carousel" id="carousel">

                    @foreach (var Product in Model.Products)
                    {





                        <!-- Product Card HTML -->
                        <div class="product-card m-2">
                            <!-- Wishlist Icon -->
                            @* <div class="wishlist-btn">
                            <i class="bi bi-heart"></i>
                        </div> *@

                            <!-- Image -->
                            <div class="product-img-container">
                                <img src="@Product.ImageUrl" alt="@Product.Title">
                            </div>

                            <!-- Content -->
                            <div class="text-center">
                                <h5 class="product-title">
                                    @Product.Title
                                </h5>

                                <div class="price-tag">@Product.Price</div>
                                <form method="get">
                                    <button class="btn-buy BuyNow buyBtn" asp-controller="Product"
                                            asp-action="Details"
                                            asp-route-id="@Product.Id" id="@Product.Id">
                                        Buy Now
                                    </button>
                                </form>
                            </div>
                        </div>


                    }
                </div>
            </div>
        </div>






      

                    @foreach (var category in Model.ProductsInCategory)
                    {

            <h5 class="text-center  display-6">@category.Name</h5>
            <div class=" d-flex ">


                <div class="carousel-wrapper" id="@category.Name">
                    <!-- Navigation -->
                    <button class="nav-btn prev-btn" id="prevBtn"><i class="bi bi-chevron-left"></i></button>
                    <button class="nav-btn next-btn" id="nextBtn"><i class="bi bi-chevron-right"></i></button>

                    <!-- Carousel Content -->
                    <div class="product-carousel" id="carousel" >
                        @foreach (var Product in category.ProductsByCategory)
                        {
                            

                        

                        <!-- Product Card HTML -->
                        <div class="product-card m-2">
                            <!-- Wishlist Icon -->
                            @* <div class="wishlist-btn">
                            <i class="bi bi-heart"></i>
                        </div> *@

                            <!-- Image -->
                            <div class="product-img-container">
                                <img src="@Product.ImageUrl" alt="@Product.Title">
                            </div>

                            <!-- Content -->
                            <div class="text-center">
                                <h5 class="product-title">
                                    @Product.Title
                                </h5>

                                <div class="price-tag">@Product.Price</div>
                                <form method="get">
                                    <button class="btn-buy BuyNow buyBtn" asp-controller="Product"
                                            asp-action="Details"
                                            asp-route-id="@Product.Id" id="@Product.Id">
                                        Buy Now
                                    </button>
                                </form>
                            </div>
                        </div>

                        }

                </div>
            </div>
        </div>


                    }




